<h2>Archive of backups</h2>

<div class="row">
	<div class="col-md-12 text-center">List of backups: <a href='/register'>Add new user</a></div>
</div>
<br>
<table id="datatable" class="table">
  <thead>
    <tr>
      <th scope="col">Back Up</th>
      <th scope="col">Reset</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
      
		<% @list3.each do |row| %>
	    <tr>
	      <td><%= row %></td>
	      <td>
						<form action="/resettoversion" method="post" id="edit">
							<input type="hidden" name="filename" value="<%= row %>">
						 	<input class="mt-2 btn-info btn float-right" type="submit" value="Reset to this version?">
						</form>
				</td>
			   <td>
						<form action="/deleteversion" method="post" id="edit">
							<input type="hidden" name="filename" value="<%= row %>">
						 	<input class="mt-2 btn-info btn float-right" type="submit" value="Delete this version?">
						</form>
				</td>
	    </tr>
    <% end %>
  </tbody>
</table>